

* {box-sizing:border-box}


/* Caption text */
.text {
  color: #ee8982;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.contact {
  background-color: transparent;
  border-radius: 45px;
  display: block;
  height: 100%;
  width: 25%;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(10px);
  font-family: 'Raleway', sans-serif;
  animation: fadeIn 10s;
  -webkit-animation: fadeIn 10s;
  -moz-animation: fadeIn 10s;
  -o-animation: fadeIn 10s;
  -ms-animation: fadeIn 10s;
  text-align: center;
}


a {
  color:#fbd977;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.button {
  margin:auto;
}


@media screen and (max-width: 965px) {
  .contact {
  width: 500px;
  text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .contact {
  width: 300px;
  text-align: center;
  }
}