html { 
    background-image: url("../images/white.jpeg");
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100%; 
    text-size-adjust: 10px;
}

.landing {
    background-color: black;
    opacity: 0.7;
    border-radius: 69px;
    width: 50%;
    height: 50%;
    text-align: center;    
    margin-bottom: auto;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.sitelogo {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90%;
}

.title {
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Poiret One', cursive; */
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Poiret One', cursive;

}

.card {
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.button {
    font-family: 'Raleway', sans-serif;

}

@media screen and (max-width: 965px) {
    .card{
    width: 50%;
    text-align: center;
    }
    .is-1 {
        font-size: 5px;
    }
}

@media screen and (max-width: 768px) {
    .card{
        width: 50%;
        text-align: center;
    }
    .is-1 {
        font-size: 5px;
    }


 

}