

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 50%;
    position: relative;
    margin: auto;
    
  }
  
  .mySlides {
    background-color: #76a8fc;
    border-radius: 25px 25px 45px 45px !important;
    text-align: center;
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  /* Next & previous buttons */
  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: #ee8982;
  }

  .text {
    color: #ee8982;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 12px;
    bottom: 8px;
    width: 100%;
  }
  

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #76a8fc;
    border-radius: 25px 0px 25px 0px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #ee8982;
  }
  

@media screen and (max-width: 965px) {
    .home {
    width: 500px;
    text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .home {
    width: 300px;
    text-align: center;
    }
}